.action {
  box-sizing: border-box;
  background-color: var(--beige);
  padding: 1.2rem 2rem;
  border-radius: 10rem;
  border: 0.24rem solid var(--dark);
  box-shadow: var(--dark) 0.4rem 0.4rem;
}

.action a {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--dark);
  display: block;
  text-align: center;
}