.action {
  box-sizing: border-box;
  background-color: var(--beige);
  padding: 1.2rem 2rem;
  border-radius: 10rem;
  border: 0.24rem solid var(--dark);
  box-shadow: var(--dark) 0.4rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  position: relative;
  transition: color 0.3s ease-in-out;
  overflow: hidden;
}

.action::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--pink);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.action span {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
  z-index: 1;
}

.action img {
  width: 2rem;
  z-index: 1;
}

.action:hover::before,
.action:focus-within::before {
  transform: scaleX(1);
}