@use '../../settings/variables/breakpoints';

/* mobile first */

.creations-section {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__title {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 3%;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 4vw;
    overflow-x: auto;
  }

  &__item {
    transition: transform 0.2s ease-in-out;
  }

  &__item:hover,
  &__item a:focus-within {
    transform: scale(1.03);
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__item-image-container {
    --img-border-radius: 12%;
    --img-shadow: 0.4rem;
    --img-ratio: 1 / 1;
    --img-size: 24vw;
    --img-padding: 1.6rem;
    min-width: 9.6rem;
  }

  &__item-name {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--beige);
    max-width: 24vw; // même taille que image-container
    min-width: 9.6rem; // même taille min. que image-container
  }

  &__link {
    width: fit-content;
  }
}

/* tablette */

@include breakpoints.tablet {
  .creations-section {
    margin-top: 8rem;
    gap: 5.4rem;

    &__title {
      font-size: 2.4rem;
    }

    &__list {
      gap: 3.2rem;
      overflow: visible;
    }
    
    &__item-link {
      gap: 2rem;
    }

    &__item-image-container {
      --img-shadow: 0.6rem;
      --img-size: 20vw;
      --img-padding: 2.4rem;
    }

    &__item-name {
      font-size: 1.6rem;
      max-width: 20vw; // même taille que image-container
    }
  }
}

/* desktop */

@include breakpoints.desktop {
  .creations-section {
    margin-top: 6rem;
    gap: 6rem;

    &__title {
      font-size: 2.8rem;
    }

    &__list {
      gap: 4rem;
    }

    &__item-link {
      gap: 2.4rem;
    }

    &__item-image-container {
      --img-shadow: 0.8rem;
      --img-size: 16vw;
      --img-padding: 3.2rem;
    }

    &__item-name {
      font-size: 1.8rem;
      max-width: 16vw; // même taille que image-container
    }
  }
}