// Style principal

@use '../settings/variables/breakpoints';

:root {
  font-size: 10px;
}

body * {
  font-family: 'TT Commons Pro Trial', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--burgundy);
  color: var(--beige);
}

main {
  padding: 8rem 2rem 10rem;

  @include breakpoints.tablet {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

a {
  text-decoration: none;
  outline: none;
}