// Style principal

:root {
  font-size: 10px;
}

body * {
  font-family: 'TT Commons Pro Trial', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--burgundy);
  color: var(--beige);
}

main {
  padding: 0 2rem;
}

a {
  text-decoration: none;
  outline: none;
}