// Style principal

@use '../settings/variables/breakpoints';

:root {
  font-size: 10px;
}

body * {
  font-family: 'TT Commons Pro Trial', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--burgundy);
  color: var(--beige);
}

main {
  padding: 8rem 2rem 10rem;

  @include breakpoints.tablet {
    padding: 9.2rem 4rem 14rem;
  }

  @include breakpoints.desktop {
    padding: 10rem 8rem 16rem;
  }
}

a {
  text-decoration: none;
  outline: none;
}